.register-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 45px;

    button {
        width: 10vw;
        font-size: 1vw;
        padding: 8px; 
        cursor: pointer;
        border-radius: 10px;
    }
    button:hover {
        transform: translateY(-5px) translateX(-5px);
        box-shadow:
        5px 5px 0px 0px #B26912;
        border-radius: 10px;
    }
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-group input {
    width: 16vw;
    height: 1.5vh;
}